@charset "UTF-8";

.page-util {
	background-color: #4397a9;
    position: relative;
}
.page-util * { color:#25252e; font-weight:400; line-height:calc(3rem - 8px); }
.page-util a:hover { text-decoration:none; color:inherit; }

.tab-header { display:flex; justify-content:space-between; align-items:center; }