@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

*:not(i) { font-family: 'Noto Sans KR', sans-serif; }

body { padding-top: 3rem!important }
a { color:inherit; }
a:hover { text-decoration:none; color:inherit; }
#container > div.container { padding:50px 0 100px; }

/**
* BootStrap Base Design Change Code
*/
.card { border-radius:.5rem; }
.btn-outline-secondary { border-color:#bbb; }
.btn-outline-secondary:hover { background-color:#f2f2f2; }
.row-cols-lg-4>* { padding:0.5rem; }

hr { margin: 3px; }
.row { text-align: center; }
.col { text-align: center; background-color: white; }
.list-group {
	height: 520px;
    max-height: 800px;
    margin-bottom: 10px;
    overflow: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
.page-util {
    background-color: #4397a9;
    position: relative;
    color: #fff;
    font-weight: 400;
    line-height: calc(3rem - 8px);
    margin-bottom: 30px;
}
.list-group-item {
	width: 100%;
}
div #title {
	border: 1px solid #D5D5D5;
	line-height: 50px;
	font-weight: bold;
	font-size: 14pt;
	padding: 5px;
	background-color: #46375D;
	color: white;
}
div #movielist {
	border: 1px solid #D5D5D5;
	height: 640px;
}
div #next {
	text-align: right;
	height: 40px;
}
label#sub { 
	font-weight: bold;
	margin-top: 10px;
}
input.btn.btn-outline-primary {
	color: #444;
	border-color: #444;
    font-weight: bold;
}
input.btn.btn-outline-primary:hover {
	color: #fff;
	background-color: #503396e0;
	border-color: #503396e0;
}
a.list-group-item.active {
	background-color: #50339691;
	border-color: #50339691;
    border-radius: 10px 10px;
}
::-webkit-scrollbar {
  width: 10px;
  
}
::-webkit-scrollbar-thumb {
    background-color: #2f3542;
}